---
import Layout from "../../layouts/Layout.astro";
import { Gallery2 } from "../../components/Gallery2";
import { featured } from "./featured";
---

<Layout title="Matias Mesa - Featured">
  <section class="hero-featured hero">
    <h1>Featured</h1>
  </section>
  <Gallery2 content={featured} client:load />
</Layout>

<style lang="scss">
  // Hero
  .hero-featured {
    background-position: right;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 60vh;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url(../img/helicoptero.jpg);

    h1 {
      font-size: var(--fontXXL);
      padding-left: var(--spacer--md);
    }
  }

  @media screen and (max-width: 890px) {
    .hero-featured {
      height: 40vh;
    }
  }
</style>
