---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Matías Mesa - Home">
  <section class="hero-index hero">
    <div class="hero-index__container">
      <div class="hero-index__container-texto">
        <h4>ADF-SOC</h4>
        <h1>Matias Mesa</h1>
        <p>Steadicam Operator / Underwater Camera Operator</p>
      </div>
    </div>
  </section>

  <section class="work-container">
    <div class="work">
      <div class="work__card">
        <a href="./pages/commercials.html" class="work__card-img">
          <img src="./img/steady-desierto.jpg" alt="" />
          <h2>Commercials</h2>
        </a>
      </div>
      <div class="work__card">
        <a href="./pages/movies.html" class="work__card-img"
          ><img src="./img/steady.jpeg" alt="" />
          <h2>Movies</h2>
        </a>
      </div>
      <div class="work__card">
        <a href="./pages/equipment.html" class="work__card-img"
          ><img src="./img/desierto2.jpg" alt="" />
          <h2>Equipment</h2>
        </a>
      </div>
    </div>
  </section>
</Layout>

<style lang="scss">
  // Hero
  .hero-index {
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(../img/facha.jpg);

    .hero-index__container {
      width: 80%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      &-texto {
        position: fixed;
        h4 {
          padding-left: 4px;
          color: #db0200;
          text-shadow: var(--text--shadow-a);
        }
        p {
          padding-left: 4px;
          text-shadow: var(--text--shadow-a);
        }
      }
    }
  }

  // Work
  .work-container {
    background-color: var(--colorDark);
    background-image: url(../img/black-twill.png);
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacer--sm);
    border-top: var(--border);
    border-bottom: var(--border);
    z-index: 1;
    position: relative;

    .work {
      gap: var(--spacer--sm);
      display: flex;
      width: 100%;
      height: 100%;
      &__card {
        width: 0px;
        flex-grow: 1;
        transition: 0.5s ease;
        position: relative;
        overflow: hidden;
        &:hover {
          cursor: pointer;
          width: 300px;
        }
        &-img {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.8;
            transition: 0.5s ease;

            &:hover {
              opacity: 1;
              filter: contrast(110%);
            }
          }
        }
        h2 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-shadow: var(--text--shadow-b);
        }
      }
    }
  }

  @media screen and (max-width: 890px) {
    // Work
    .work-container {
      height: 100vh;
      .work {
        flex-direction: column;
        &__card {
          width: 100%;
          height: 0;
          &:hover {
            height: 0;
            width: 100%;
          }
        }
      }
    }
  }
</style>
