---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Matías Mesa - Home">
  <section class="hero-index hero">
    <div class="hero-index-texto">
      <h1>Matias Mesa</h1>
      <p>Steadicam | Trinity 2 | Underwater Camera Specialist</p>
    </div>
  </section>
</Layout>

<style lang="scss">
  // Hero
  .hero-index {
    background-position: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(../img/facha.jpeg);

    &-texto {
      padding: var(--spacer--md);
      h1 {
        font-size: var(--fontXXL2);
      }

      p {
        padding-left: 4px;
        text-shadow: var(--text--shadow-a);
        margin-top: 4px;
        font-size: var(--fontM);
      }
    }
  }

  @media screen and (max-width: 500px) {
    .hero-index-texto {
      text-align: center;
    }
  }
</style>
