---
import Layout from "../../layouts/Layout.astro";
import { Gallery2 } from "../../components/Gallery2";
import { underwater } from "./underwater";
---

<Layout title="Matias Mesa - Underwater">
  <section class="hero-water hero">
    <h1>Underwater</h1>
  </section>
  <Gallery2 content={underwater} client:load />
</Layout>

<style lang="scss">
  // Hero
  .hero-water {
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 60vh;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url(../img/underw.jpg);

    h1 {
      font-size: var(--fontXXL);
      padding-left: var(--spacer--md);
    }
  }
</style>
