---
import Layout from "../../layouts/Layout.astro";
import { movies } from "./movies";
import { Gallery } from "../../components/Gallery";
---

<Layout title="Matías Mesa - Movies">
  <section class="hero-movies hero">
    <h1>Movies</h1>
  </section>
  <Gallery content={movies} client:load />
</Layout>

<style lang="scss">
  // Hero
  .hero-movies {
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 60vh;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url(../img/steady-palmeras.jpg);

    h1 {
      font-size: var(--fontXXL);
      padding-left: var(--spacer--md);
    }
  }

  @media screen and (max-width: 890px) {
    .hero-movies {
      height: 40vh;
    }
  }
</style>
