---
const { title } = Astro.props;
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Stedicam | Trinity 2 | Underwater Camera Specialist"
    />
    <meta
      name="description"
      content="Stedicam | Trinity 2 | Underwater Camera Specialist"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global lang="scss">
  @font-face {
    font-family: "OpenSans";
    src: url("/fonts/open-sans.ttf") format("truetype");
    font-weight: normal;
  }

  @font-face {
    font-family: "OpenSans";
    src: url("/fonts/open-sans-b.ttf") format("truetype");
    font-weight: bold;
  }

  :root {
    // Spacers
    --spacer--sm: clamp(12px, 6.615383px + 1.538462vw, 22px);
    --spacer--md: clamp(24px, 15.384617px + 2.461538vw, 40px);
    --spacer--lg: clamp(32px, 8.8461525px + 6.615385vw, 75px);

    // Font
    --fontFam: "OpenSans", sans-serif;
    --fontS: clamp(0.95rem, 0.59090903rem + 0.727273vw, 1.2rem);
    --fontM: clamp(1.18rem, 0.94454538rem + 1.076364vw, 1.55rem);
    --fontL: clamp(1.35rem, 0.93636366rem + 1.890909vw, 2rem);
    --fontXL: clamp(1.5rem, 0.73636366rem + 3.490909vw, 2.7rem);
    --fontXXL: clamp(2.7rem, 1.8901rem + 3.4554vw, 5rem);
    --fontXXL2: clamp(3rem, 1.5915rem + 6.0094vw, 7rem);

    // Colors
    --colorLight: #f2f2f2;
    --colorDark: #0d0d0d;
    --colorDetail: #3084f2;

    // Utilities
    --transition: all 250ms ease-in-out;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    --border: 1px solid var(--colorLight);
    --text--shadow-a: 0px 1px 6px rgba(0, 0, 0, 0.5);
    --text--shadow-b: -2px 5px 6px rgba(0, 0, 0, 0.6);
  }
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  body {
    color: var(--colorLight);
    font-family: var(--fontFam);
  }
  a {
    color: var(--colorLight);
  }
  h1 {
    font-family: var(--fontFam);
    line-height: 1;
  }
  h2 {
    font-size: var(--fontXL);
    font-family: var(--fontFam);
  }
  h3 {
    font-size: var(--fontL);
    font-family: var(--fontFam);
  }
  h4 {
    font-size: var(--fontM);
    font-family: var(--fontFam);
  }
  p {
    line-height: 1.4;
    font-size: var(--fontS);
  }
  .ocultar {
    display: none;
  }

  .hero {
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
      text-shadow: var(--text--shadow-a);
    }
  }

  // Cards
  .portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    background-color: var(--colorDark);
    background-image: url(../img/black-twill.png);
    padding: var(--spacer--sm);
    border-top: var(--border);
    border-bottom: var(--border);

    &__card {
      position: relative;
      cursor: pointer;
      &:hover .portfolio__card-text {
        display: block;
      }

      &:hover .portfolio__card-img {
        opacity: 0.8;
      }
      &-img {
        opacity: 1;
        transition: all 0.5s;
        line-height: 0;
        img {
          width: 100%;
        }
      }

      &-text {
        position: absolute;
        width: 80%;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: var(--text--shadow-b);
        display: none;

        h4 {
          margin-bottom: 0.4rem;
        }

        p {
          font-size: 0.8rem;
        }
      }
    }
  }

  .portfolio-alt {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .bg-blue {
    background-color: #003342 !important;
  }

  @media screen and (max-width: 890px) {
    // Portfolio
    .portfolio {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .portfolio-alt {
      grid-template-columns: 1fr !important;
    }
    .portfolio__card-text {
      display: block;
    }
    .portfolio__card-img {
      opacity: 0.8;
    }
  }
</style>
